[Unit]
Description=Example LEDs
Requires=fadecandy.service

[Service]
Type=notify
WorkingDirectory=/home/pi/blinkentweets
ExecStart=/usr/bin/env python3 /home/pi/blinkentweets/tweets.py
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
User=pi
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
